{% extends 'base.html' %} {% block content %}
<section class="resume-section" id="predict">
  <div class="resume-section-content">
    <h2 class="mb-5">Prediksi dari File Excel</h2>
    <div class="card">
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="formFile" class="form-label"
              >Upload file Excel (.xlsx)</label
            >
            <input
              class="form-control"
              type="file"
              id="formFile"
              name="file"
              accept=".xlsx"
              required
            />
          </div>
          <input type="submit" class="btn btn-primary" value="Prediksi" />
        </form>
        {% if error %}
        <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %} {% if hasil %}
        <div class="mt-4">
          <h4>Hasil Prediksi:</h4>
          {{ hasil | safe }}
          <h4>MSE: {{nmse_test}}</h4>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
